<mat-card *ngIf="pokemon" class="card">
  <mat-card-header>

    <img mat-card-avatar class="header-image" src="{{pokemonImg}}">
    <mat-card-title>{{pokemon.name}}</mat-card-title>
    <mat-card-subtitle>N° {{pokemon.id}}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="{{pokemonImg}}" alt="Pokemon">
  <mat-card-content>

    <mat-chip-listbox aria-label="Fish selection">
      <mat-chip-option color="accent" selected>Tipo: {{pokemonType}}</mat-chip-option>
      <mat-chip-option color="accent" selected>Altura: {{pokemon.height}}</mat-chip-option>
      <mat-chip-option color="accent" selected>Peso: {{pokemon.weight}}</mat-chip-option>

    </mat-chip-listbox>

  </mat-card-content>

</mat-card>

